body{
    font-family: sans-serif;
    text-align: center;
     width: 100%;
 
}
.heading{
    float:right;
    margin-right: 50px;
    font-size: 20px;
    font-family: sans-serif;
}
.para
{
    font-size: 20px;
}
table{
    border: solid black;
    border-collapse: collapse;
   margin-left: 100px;
   
}
th{
    font-size: 30px;
    background-color: rgb(231, 231, 221);
}
td{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
th,td{
    border: solid black;
    padding: 15px 15px;
}

tr:nth-child(even){
    background-color: rgb(231, 231, 221);
}
.map{
margin-top: 40px;
}
.provinces{
float: left;
margin-right: 50px;
font-size: 20px;
font-family: sans-serif;
line-height: 20px;
padding:15px;
}

